{% extends 'blog.html.twig' %}

{% block title %} Blog overview {% endblock %}

{% block content %}
<div class="container">
    <div class="blog-list-wrapper">
        <div class="blog-list">
            <ul>
                {% if posts|default(null) %}
                   {% for post in posts %}
                       <li class="blog-card-wrapper">
                           <div class="blog-card">
                               <div class="blog-body">
                                   <span>{{ post.content|trim }}</span>
                               </div>
                               <div class="blog-footer">
                                   <span>{{ post.date|date }}</span>
                               </div>
                           </div>
                       </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
