{% extends 'blog.html.twig' %}

{% block title %} Blog overview {% endblock %}

{% block content %}
    <div class="container">
        <div class="recent-blogs-wrapper">
            <div class="recent-blogs-left">
                <span>Recent posts</span>
                <span>First child</span>
                <span>Second child</span>
                <span>Third child</span>
                <span>Fourth child</span>
                <span>Fifth child</span>
                <span>Sixth child</span>    
                <span>Seventh child</span>
                <span>Eighth child</span>
                <footer class="recent-blogs-footer">
                    &copy; Bas Kruithof
                </footer>
            </div> 
        </div>
    </div>
{% endblock %}