{% extends 'blog.html.twig' %}

{% block title %} Blog overview {% endblock %}

{% block content %}
    <div class="container">
        <div class="recent-blogs-wrapper">
            <div class="recent-blogs-left">
                <span>Recent posts here (titles)</span>
                <span>test2</span>
            </div> 
        </div>
    </div>
{% endblock %}