 * {
     margin: 0;
     padding: 0;
 }

a {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}

body {
    background: linear-gradient(155deg, dodgerblue 49%, indianred 11ch);
    width: 100vw;
    height: 100vh;
    font-family: 'ui-rounded', "ui-monospace"
}

.container {
    height: 100%;
    width: 100%;
}

.blog-list {
    display: flex;
    justify-content: center;
}

.blog-card-wrapper {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 25vh;
}

.blog-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width: 100%;
    height: 100%;
    background-color: #66b9ce;
    font-size: 2rem;
    border: 3px solid steelblue;
    border-radius: 10px;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.nav-wrapper .logo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.horizontal-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7.5vh;
}

.nav-wrapper ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}