* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
}

span {
    font-size: 2rem;
    color: white;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.1) ), url(../media//image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'ui-rounded', "ui-monospace";
}

.container {
    height: 100%;
    width: 100%;
}

.blog-list {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.blog-card-wrapper {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 45vh;
}

.blog-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #66b9ce;
    font-size: 2rem;
    border: 3px solid steelblue;
    border-radius: 10px;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.nav-wrapper .logo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.horizontal-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7.5vh;
}

.nav-wrapper ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}

.recent-blogs-wrapper {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 35%;
    padding-left: 0.6rem;
    padding-top: 1rem;
}

.recent-blogs-left {
    display: flex;
    justify-content: top;
    text-align: center;
    flex-direction: column;
    height: 85%;
    width: 65%;
    background-color: rgba(179, 173, 173, 0.85);
    border-radius: 10px;
    z-index: 1;
    border: 0.2px solid #000;
    box-shadow: rgb(101, 137, 162) 10px 10px 10px;
}

.recent-blogs-left span {
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.recent-blogs-left span:not(:first-child):hover {
    text-align: center;
    background: rgba(81, 81, 81, 0.85);
    color: white;
    font-size: 2.2rem;
    transition: 0.1s ease-in;
}

.recent-blogs-left span:first-child { 
    border-bottom: dotted rgb(0, 0, 0);
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(116, 114, 114, 0.85);
    z-index: 2;
}

.recent-blogs-left span:nth-child(odd) { font-weight: bolder; }
.recent-blogs-left span:not(:last-child) { padding-top: 2rem; }

.recent-blogs-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    font-size: 0.9rem;
    font-weight: bolder;
    top: 88.6%;
    left: 0.8%;
    width: 22.5%;
    height: 5%;
    background-color: rgba(116, 114, 114, 0.85);
    border-top: dotted rgb(0, 0, 0);
}


.blog-body, .blog-footer { padding: 5rem; }

@media only screen and (min-width: 870px) and (max-width: 1679px) {
    .recent-blogs-left {
        width: 80%;
    }
    
    span {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1680px) {
    .recent-blogs-left {
        width: 65%;
        font-size: 2rem;
    }
}
