* {
    margin: 0;
    padding: 0;
}

.diagonal-bg {
    height: 100vh;
    width: 100vw;
    background-color: #f84e4e;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 5% 100%);
    z-index: -1;
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 99;
}