* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #f1f1c5;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    padding: 0 0 0.2rem 0;
    border-bottom: 1px solid black;
    margin-bottom: 1.8rem;
    background: rgba(162, 30, 30, 0.9);
}

.nav-wrapper ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-wrapper li {
    list-style: none;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #592727;
    padding: 0.5rem 0 0 0;
}

.nav-wrapper li:hover {
    color: #fff;
    transition: 0.3s ease-in;
}

.landing-wrapper .card {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.landing-wrapper .card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background: #36a9a9;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.form form label {
    display: block;
}

.form form button {
    background-color: white;
    border: none;
    width: 20vw;
    height: 2.5vh;
    border-radius: 10px;
    margin-top: 0.4rem;
}

.form form button:hover {
    transition: 0.5s ease-in;
    background-color: darkorange;
}

.form form input {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 20vw;
    height: 2.5vh;
    border: none;
    border-radius: 10px;
}

.form .error {
    color: red;
    font-weight: bolder;
}

.landing-wrapper .table {
    margin-top: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-wrapper .table table tr td {
    color: red;
}