* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: saddlebrown;
}

.wrapper .register-form {
    height: 100vh;
    width: 30vw;
    background-color: #36a9a9;
}

.wrapper .register-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.wrapper .register-form div input {
    border-radius: 10px;
    width: 50%;
    height: 2.2vh;
}

.wrapper .register-form div input::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .register-form .submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.wrapper .register-form .submit-wrapper button {
    width: 15vw;
    height: 3vh;
    border-radius: 10px;
    border: none;
}