<!DOCTYPE html>

<title>Blog overzicht</title>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/blog-overview.css') }}"
{% endblock %}

{% block body %}
    <div>
        <div class="container">
            <div class="blog-wrapper">
                <div class="card">

                </div>
                <div class="card">

                </div>
            </div>
        </div>
    </div>
{% endblock %}