{% extends 'blog.html.twig' %}

{% block title %}Edit Blogs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/crud.css') }}">
{% endblock %}

{% block content %}
    <div class="blog-edit-wrapper">
        {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
