<!DOCTYPE html>

<title>Blog overzicht</title>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block body %}
    <div>
        <div class="diagonal-bg"></div>
        <div class="blog-wrapper">
            <span>Hello {{ user }}</span>
        </div>
    </div>
{% endblock %}