<!DOCTYPE html>

<title>Blog overzicht</title>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block body %}
    <div>

    </div>
{% endblock %}