{% extends 'base.html.twig' %}

{% block title %} Blog overview {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="nav-wrapper">
      <nav class="horizontal-nav">
          <ul>
              <li>
                  <a href="{{ path('app_blog_posts') }}">Home (Blog overview)</a>
              </li>
              <li>
                  <a href="#">New blog</a>
              </li>
              <li>
                  <a href="{{ path('app_logout') }}">Logout</a>
              </li>
              </ul>
          </nav>
    </div>
    <div class="blog-list-wrapper">
        <div class="blog-list">
            <ul>
                <li class="blog-card-wrapper">
                  <div class="blog-card">
                      <div class="blog-title">
                          <span>test</span>
                      </div>
                      <div class="blog-body">
                          <span>test</span>
                      </div>
                      <div class="blog-footer">
                          test
                      </div>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
