<!DOCTYPE html>

<title>Blog overview</title>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="nav-wrapper">
      <nav class="horizontal-nav">
          <ul>
              <li>
                  <a href="{{ path('app_blog_posts') }}">Home (Blog overview)</a>
              </li>
              <li>
                  <a href="#">New blog</a>
              </li>
              </ul>
          </nav>
    </div>
    <div class="blog-list-wrapper">
        <div class="blog-search">
            {#     implement this      #}
        </div>
        <div class="blog-list">
            <ul>
                <li>
                    <div>
                        <h2>Blog title</h2>
                        <p>Blog content</p>
                        <a href="#">Read more</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
