<!DOCTYPE html>

<title>Blog overview</title>

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="nav-wrapper">
      <nav class="horizontal-nav">
          <ul>
              <li>
                  <a href="{{ path('app_blog_posts') }}">Home (Blog overview)</a>
              </li>
              <li>
                  <a href="#">New blog</a>
              </li>
              <li>
                  <a href="{{ path('app_logout') }}">Logout</a>
              </li>
              </ul>
          </nav>
    </div>
    <div class="blog-list-wrapper">
        <div class="blog-list">
            <ul>
                <li>
                    <div class="blog-title">
                        <span>test</span>
                    </div>
                    <div class="blog-body">

                    </div>
                    <div class="blog-footer">

                    </div>
                </li>
                <li>
                    <div class="blog-title">
                        <span>test</span>
                    </div>
                    <div class="blog-body">

                    </div>
                    <div class="blog-footer">

                    </div>
                </li>
                <li>
                    <div class="blog-title">
                        <span>test</span>
                    </div>
                    <div class="blog-body">

                    </div>
                    <div class="blog-footer">

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
